In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/OMDENA SV

/content/drive/MyDrive/OMDENA SV

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.shape

(75757, 64)

In [ ]:
df.columns

Index(['Year_Factor', 'State_Factor', 'building_class', 'facility_type',
       'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION',
       'january_min_temp', 'january_avg_temp', 'january_max_temp',
       'february_min_temp', 'february_avg_temp', 'february_max_temp',
       'march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp',
       'april_avg_temp', 'april_max_temp', 'may_min_temp', 'may_avg_temp',
       'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp',
       'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp',
       'august_avg_temp', 'august_max_temp', 'september_min_temp',
       'september_avg_temp', 'september_max_temp', 'october_min_temp',
       'october_avg_temp', 'october_max_temp', 'november_min_temp',
       'november_avg_temp', 'november_max_temp', 'december_min_temp',
       'december_avg_temp', 'december_max_temp', 'cooling_degree_days',
       'heating_degree_days', 'precipitation_inches', 'snowfall_inches',
       'snowdepth_inches', 'avg_temp', 'days_below_30F', 'days_below_20F',
       'days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F',
       'days_above_100F', 'days_above_110F', 'direction_max_wind_speed',
       'direction_peak_wind_speed', 'max_wind_speed', 'days_with_fog',
       'site_eui', 'id'],
      dtype='object')

### Dropping 1

In [ ]:
Drop = ['building_class','energy_star_rating','avg_temp','days_above_100F','days_above_110F','direction_max_wind_speed',
       'direction_peak_wind_speed', 'max_wind_speed','id']

In [ ]:
train_data= df.drop(Drop,axis =1)

In [ ]:
print(len(df.columns))
print(len(train_data.columns))

64
55

In [ ]:
train_data['Energy'] = train_data['floor_area']*train_data['site_eui']

In [ ]:
train_data['facility_type'].nunique()

60

### Months to season and dropping 2

In [ ]:
train_data['winter_average_temp'] = (train_data['january_avg_temp'] + train_data['february_avg_temp'] + train_data['december_avg_temp'])/3
train_data['summer_average_temp'] = (train_data['june_avg_temp'] + train_data['july_avg_temp'] + train_data['august_avg_temp'])/3
train_data['fall_average_temp'] = (train_data['september_avg_temp'] + train_data['october_avg_temp'] + train_data['november_avg_temp'])/3
train_data['spring_average_temp'] = (train_data['march_avg_temp'] + train_data['april_avg_temp'] + train_data['may_avg_temp'])/3

train_data['winter_average_maxtemp'] = (train_data['january_max_temp'] + train_data['february_max_temp'] + train_data['december_max_temp'])/3
train_data['summer_average_maxtemp'] = (train_data['june_max_temp'] + train_data['july_max_temp'] + train_data['august_max_temp'])/3
train_data['fall_average_maxtemp'] = (train_data['september_max_temp'] + train_data['october_max_temp'] + train_data['november_max_temp'])/3
train_data['spring_average_maxtemp'] = (train_data['march_max_temp'] + train_data['april_max_temp'] + train_data['may_max_temp'])/3

train_data['winter_average_mintemp'] = (train_data['january_min_temp'] + train_data['february_min_temp'] + train_data['december_min_temp'])/3
train_data['summer_average_mintemp'] = (train_data['june_min_temp'] + train_data['july_min_temp'] + train_data['august_min_temp'])/3
train_data['fall_average_mintemp'] = (train_data['september_min_temp'] + train_data['october_min_temp'] + train_data['november_min_temp'])/3
train_data['spring_average_mintemp'] = (train_data['march_min_temp'] + train_data['april_min_temp'] + train_data['may_min_temp'])/3

train_data.head()

   Year_Factor State_Factor  ... fall_average_mintemp  spring_average_mintemp
0            1      State_1  ...            47.333333               42.333333
1            1      State_1  ...            47.333333               42.333333
2            1      State_1  ...            47.333333               42.333333
3            1      State_1  ...            47.333333               42.333333
4            1      State_1  ...            47.333333               42.333333

[5 rows x 68 columns]

In [ ]:
print(len(train_data.columns))

68

In [ ]:
Dropped_temp = ['january_min_temp', 'january_avg_temp', 'january_max_temp',
       'february_min_temp', 'february_avg_temp', 'february_max_temp',
       'march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp',
       'april_avg_temp', 'april_max_temp', 'may_min_temp', 'may_avg_temp',
       'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp',
       'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp',
       'august_avg_temp', 'august_max_temp', 'september_min_temp',
       'september_avg_temp', 'september_max_temp', 'october_min_temp',
       'october_avg_temp', 'october_max_temp', 'november_min_temp',
       'november_avg_temp', 'november_max_temp', 'december_min_temp',
       'december_avg_temp', 'december_max_temp']

train_data = train_data.drop(Dropped_temp,axis =1)

### Facility type

In [ ]:
facility_type = df['facility_type']

In [ ]:
train_data["facility_type"]=train_data["facility_type"].replace(['Warehouse_Refrigerated','Warehouse_Uncategorized'],"Warehouse_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Warehouse_Selfstorage','Warehouse_Distribution_or_Shipping_center'],"Warehouse_Med")
train_data["facility_type"]=train_data["facility_type"].replace(['Warehouse_Nonrefrigerated','Data_Center'],"Warehouse_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Mixed_Use_Predominantly_Commercial','Retail_Vehicle_dealership_showroom'],"Commercial_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Commercial_Other','Commercial_Unknown','Mixed_Use_Commercial_and_Residential','Retail_Enclosed_mall','Retail_Strip_shopping_mall','Retail_Uncategorized'],"Commercial_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Lodging_Uncategorized'],"Lodging_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Lodging_Other'],"Lodging_Med")
train_data["facility_type"]=train_data["facility_type"].replace(['Lodging_Dormitory_or_fraternity_sorority','Lodging_Hotel'],"Lodging_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Education_Preschool_or_daycare'],"Educational_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Education_College_or_university','Education_Other_classroom','Education_Uncategorized'],"Educational_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Food_Service_Other'],"Food_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Food_Service_Restaurant_or_cafeteria','Food_Service_Uncategorized','Grocery_store_or_food_market'],"Food_Med")
train_data["facility_type"]=train_data["facility_type"].replace(['Food_Sales'],"Food_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Public_Assembly_Library','Public_Assembly_Movie_Theater','Public_Assembly_Stadium' , 'Public_Safety_Fire_or_police_station','Public_Safety_Penitentiary','Public_Safety_Uncategorized','Religious_worship'],"Public_Services_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Parking_Garage','Public_Assembly_Entertainment_culture','Public_Assembly_Other' , 'Public_Assembly_Social_meeting','Public_Assembly_Uncategorized','Public_Safety_Courthouse'],"Public_Services_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Service_Drycleaning_or_Laundry'],"Services_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Service_Uncategorized','Service_Vehicle_service_repair_shop'],"Services_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Health_Care_Outpatient_Clinic','Health_Care_Outpatient_Uncategorized','Nursing_Home','Office_Medical_non_diagnostic'],"Healthcare_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Health_Care_Uncategorized','Health_Care_Inpatient','Laboratory'],"Healthcare_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Office_Mixed_use'],"Office_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['Office_Bank_or_other_financial','Office_Uncategorized'],"Office_High")

train_data["facility_type"]=train_data["facility_type"].replace(['Mixed_Use_Predominantly_Residential'],"Residential_Low")
train_data["facility_type"]=train_data["facility_type"].replace(['2to4_Unit_Building','5plus_Unit_Building'],"Residential_Med")
train_data["facility_type"]=train_data["facility_type"].replace(['Multifamily_Uncategorized'],"Residential_High")

In [ ]:
train_data['facility_type'] = train_data["facility_type"].dropna()

### Encoding for facility_type

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_data['facility_type'] = le.fit_transform(train_data['facility_type'])

Imputations of year_built

In [ ]:
train_data['year_built_is_null'] = train_data['year_built'].apply(lambda row: True if np.isnan(row) or row == 0 else False)

In [ ]:
train_data['year_built_is_null'].sum()

1843

In [ ]:
train_data.year_built.quantile([0.25,0.5,0.75, 1])

0.25    1927.0
0.50    1951.0
0.75    1977.0
1.00    2015.0
Name: year_built, dtype: float64

In [ ]:
# Get mode values per each group
def get_mode(row):
  """
  code reference: https://www.geeksforgeeks.org/python-multimode-of-list/

  Customized by Dongyeun (Lael) K.
  """
  import math
  from collections import Counter
  
  mode = []
  row_list = row.tolist()
  test_list1 = Counter(row_list) 
  temp = test_list1.most_common(1)[0][1]

  for ele in row_list:
    if row_list.count(ele) == temp:
      mode.append(ele)

  mode_value = max(list(set(mode)))
  
  return mode_value

mode_df = train_data[train_data.year_built_is_null == False].groupby(['Year_Factor','State_Factor', 'facility_type'])['year_built'].apply(get_mode).to_frame().reset_index().rename(columns={'year_built': 'year_built_mode'})
mode_df.head(10)

   Year_Factor State_Factor  facility_type  year_built_mode
0            1      State_1              0           1909.0
1            1      State_1              1           1914.0
2            1      State_1              2           1920.0
3            1      State_1              6           1986.0
4            1      State_1              8           1989.0
5            1      State_1              9           1948.0
6            1      State_1             10           1983.0
7            1      State_1             13           1908.0
8            1      State_1             15           1909.0
9            1      State_1             17           1934.0

In [ ]:
df.State_Factor.value_counts()

State_6     50840
State_11     6412
State_1      5618
State_2      4871
State_4      4300
State_8      3701
State_10       15
Name: State_Factor, dtype: int64

In [ ]:
# Extra step for finding mode values is needed for certain types of property types in certain states and year factor
mode_df_extra = train_data[train_data.year_built_is_null == False].groupby(['State_Factor', 'facility_type'])['year_built'].apply(get_mode).to_frame().reset_index().rename(columns={'year_built': 'year_built_mode_extra'})
mode_df_extra_service_state_2 = train_data[train_data.year_built_is_null == False].groupby(['facility_type'])['year_built'].apply(get_mode).to_frame().reset_index().rename(columns={'year_built': 'year_built_mode_extra'})

# Extra step 2 - Get the mode value for Service in State 2
service_state_2 = train_data[train_data.year_built_is_null == False].groupby(['facility_type'])['year_built'].apply(get_mode).to_frame().reset_index().rename(columns={'year_built': 'year_built_mode_extra_service_state_2'}).iloc[19, 1]

mode_df_extra.head(10)

  State_Factor  facility_type  year_built_mode_extra
0      State_1              0                 1907.0
1      State_1              1                 1900.0
2      State_1              2                 1920.0
3      State_1              3                 1931.0
4      State_1              4                 1936.0
5      State_1              5                 1932.0
6      State_1              6                 1900.0
7      State_1              7                 1911.0
8      State_1              8                 1968.0
9      State_1              9                 1948.0

In [ ]:
# Impute missing values using the values above
import copy
train_df_copy = copy.deepcopy(train_data)
train_df_copy = pd.merge(train_df_copy, mode_df, how='left', on=['Year_Factor', 'State_Factor', 'facility_type'])
train_df_copy = pd.merge(train_df_copy, mode_df_extra, how='left', on=['State_Factor', 'facility_type'])

train_df_copy['year_built'].fillna(train_df_copy['year_built_mode'], inplace=True)
train_df_copy['year_built'].fillna(train_df_copy['year_built_mode_extra'], inplace=True)
train_df_copy['year_built'].fillna(service_state_2, inplace=True)

train_df_copy[train_df_copy.year_built.isnull()]

Empty DataFrame
Columns: [Year_Factor, State_Factor, facility_type, floor_area, year_built, ELEVATION, cooling_degree_days, heating_degree_days, precipitation_inches, snowfall_inches, snowdepth_inches, days_below_30F, days_below_20F, days_below_10F, days_below_0F, days_above_80F, days_above_90F, days_with_fog, site_eui, Energy, winter_average_temp, summer_average_temp, fall_average_temp, spring_average_temp, winter_average_maxtemp, summer_average_maxtemp, fall_average_maxtemp, spring_average_maxtemp, winter_average_mintemp, summer_average_mintemp, fall_average_mintemp, spring_average_mintemp, year_built_is_null, year_built_mode, year_built_mode_extra]
Index: []

In [ ]:
train_data = copy.deepcopy(train_df_copy)

### Imputation of year_built done now dropping Year_Factor, State_factor

In [ ]:
train_data.drop(['Year_Factor', 'State_Factor'], axis=1, inplace=True)

In [ ]:
train_data.isnull().sum()

facility_type                 0
floor_area                    0
year_built                    0
ELEVATION                     0
cooling_degree_days           0
heating_degree_days           0
precipitation_inches          0
snowfall_inches               0
snowdepth_inches              0
days_below_30F                0
days_below_20F                0
days_below_10F                0
days_below_0F                 0
days_above_80F                0
days_above_90F                0
days_with_fog             45796
site_eui                      0
Energy                        0
winter_average_temp           0
summer_average_temp           0
fall_average_temp             0
spring_average_temp           0
winter_average_maxtemp        0
summer_average_maxtemp        0
fall_average_maxtemp          0
spring_average_maxtemp        0
winter_average_mintemp        0
summer_average_mintemp        0
fall_average_mintemp          0
spring_average_mintemp        0
year_built_is_null            0
year_built_mode               9
year_built_mode_extra         3
dtype: int64

### Dropping year_built_is_null , year_built_mode, year_built_mode_extra

In [ ]:
train_data.drop(['year_built_is_null' , 'year_built_mode', 'year_built_mode_extra'],axis=1 , inplace =True)

### Imputation - LGBM

In [ ]:
!git clone https://github.com/analokmaus/kuma_utils.git

fatal: destination path 'kuma_utils' already exists and is not an empty directory.

In [ ]:
train_data.isnull().sum()

facility_type                 0
floor_area                    0
year_built                    0
ELEVATION                     0
cooling_degree_days           0
heating_degree_days           0
precipitation_inches          0
snowfall_inches               0
snowdepth_inches              0
days_below_30F                0
days_below_20F                0
days_below_10F                0
days_below_0F                 0
days_above_80F                0
days_above_90F                0
days_with_fog             45796
site_eui                      0
Energy                        0
winter_average_temp           0
summer_average_temp           0
fall_average_temp             0
spring_average_temp           0
winter_average_maxtemp        0
summer_average_maxtemp        0
fall_average_maxtemp          0
spring_average_maxtemp        0
winter_average_mintemp        0
summer_average_mintemp        0
fall_average_mintemp          0
spring_average_mintemp        0
dtype: int64

In [ ]:
import sys
sys.path.append("kuma_utils/")
from kuma_utils.preprocessing.imputer import LGBMImputer

In [ ]:
%%time
lgbm_imtr = LGBMImputer(n_iter=200, verbose=True)

train_lgbmimp = lgbm_imtr.fit_transform(train_data)

  0%|          | 0/1 [00:00<?, ?it/s]

CPU times: user 3.21 s, sys: 76.6 ms, total: 3.28 s
Wall time: 2.26 s

In [ ]:
train_lgbmimp.isnull().sum()

facility_type             0
floor_area                0
year_built                0
ELEVATION                 0
cooling_degree_days       0
heating_degree_days       0
precipitation_inches      0
snowfall_inches           0
snowdepth_inches          0
days_below_30F            0
days_below_20F            0
days_below_10F            0
days_below_0F             0
days_above_80F            0
days_above_90F            0
days_with_fog             0
site_eui                  0
Energy                    0
winter_average_temp       0
summer_average_temp       0
fall_average_temp         0
spring_average_temp       0
winter_average_maxtemp    0
summer_average_maxtemp    0
fall_average_maxtemp      0
spring_average_maxtemp    0
winter_average_mintemp    0
summer_average_mintemp    0
fall_average_mintemp      0
spring_average_mintemp    0
dtype: int64

### SCALING

In [ ]:
features = ['days_below_30F', 'days_below_20F', 'days_below_10F', 'heating_degree_days']

In [ ]:
from sklearn.preprocessing import StandardScaler
train_data_tmp = train_data.loc[:,features].values
train_data_tmp = StandardScaler().fit_transform(train_data_tmp)
np.mean(train_data_tmp), np.std(train_data_tmp)

(2.2510164946133566e-17, 1.0)

In [ ]:
feat_col = ['feature'+str(i) for i in range(train_data_tmp.shape[1])]

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
train_data['Cold_PCA'] = pca.fit_transform(train_data_tmp)
print('Explained variation per principal component: {}'.format(pca.explained_variance_ratio_))

Explained variation per principal component: [0.84591557]

In [ ]:
train_data['Cold_PCA'].head(10)

0   -2.659102
1   -2.659102
2   -2.659102
3   -2.659102
4   -2.659102
5   -2.659102
6   -2.659102
7   -2.659102
8   -2.659102
9   -2.659102
Name: Cold_PCA, dtype: float64

DROPPING FEATURES - A list mentioned above

In [ ]:
train_data.drop(features,axis=1,inplace=True)

### Droping Duplicates

In [ ]:
train_data.drop_duplicates(inplace=True)

In [ ]:
train_data.shape

(75715, 27)

SAVING THE DATA

In [ ]:
train_data.to_csv('train1.csv')

### Training

In [ ]:
def rmse(y_actual, y_pred):
  """
  Wrtier: Dongyeun Kum
  Description: Calculates RMSE for a given model
  """
  from sklearn.metrics import mean_squared_error
  from math import sqrt

  rmse = sqrt(mean_squared_error(y_actual, y_pred))
  
  return rmse

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

target = 'site_eui'

X = train_lgbmimp.drop(target, axis=1)
y = train_lgbmimp[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

model = GradientBoostingRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
error = rmse(y_test, y_pred)
error

8.820574281899285

In [52]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.decomposition import PCA
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn import metrics

In [55]:
lr = LinearRegression()
lr.fit(X_train, y_train)

print('Linear Regression Train Score :', lr.score(X_train, y_train))
print('Linear Regression Test Score :', lr.score(X_test, y_test))

y_pred1 = lr.predict(X_test)
RMSE1 = np.sqrt(metrics.mean_squared_error(y_test, y_pred1)) 
print('RMSE Value :', RMSE1)

Linear Regression Train Score : 0.3066815912873151
Linear Regression Test Score : 0.2628010767522695
RMSE Value : 48.575750100875695

In [ ]:
rf = RandomForestRegressor(n_estimators=700, max_depth=10, random_state=42)
rf.fit(X_train, y_train)

print('Random Forest Regressor Train Score :', rf.score(X_train, y_train))
print('Random Forest Regressor Test Score :', rf.score(X_test, y_test))

y_pred2 = rf.predict(X_test)
RMSE2 = np.sqrt(metrics.mean_squared_error(y_test, y_pred2)) 
print('RMSE Value :', RMSE2)